* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column; /* Flexbox para organizar o layout */
    height: 100vh; /* Ocupa toda a altura da tela */
}

main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; /* Alinha o conteúdo verticalmente */
}

section {
    background-color: rgb(58, 58, 58);
    padding: 20px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    width: 90%; /* Largura do conteúdo */
    max-width: 500px; /* Largura máxima */
    margin-bottom: 20px;
}

section h1, section h2 {
    margin-bottom: 20px;
}

ul {
    padding: 0;
    text-align: left; /* Alinha a lista à esquerda */
}

ul li {
    margin-bottom: 10px;
}

#ficha-lista {
    list-style-type: none; /* Remove marcadores da lista */
    padding: 0; /* Remove padding padrão */
}

section ul#ficha-lista li {
    display: flex; /* Alinha os itens em linha */
    justify-content: space-between; /* Distribui o espaço igualmente entre os elementos */
    margin-bottom: 10px; /* Espaçamento entre os itens */
    padding: 5px 0; /* Espaçamento vertical para melhor visualização */
    border-bottom: 1px solid #ccc; /* Linha divisória opcional entre itens */
}

section ul#ficha-lista li .nome {
    flex: 1; /* Permite que a parte do nome ocupe o espaço disponível */
    text-align: left; /* Alinha o texto à esquerda */
    font-weight: bold; /* Deixa o nome em negrito */
}

section ul#ficha-lista li .valor {
    flex: 1; /* Permite que a parte do valor ocupe o espaço disponível */
    text-align: right; /* Alinha o valor à direita */
    margin-left: 20px; /* Adiciona um espaço entre o nome e o valor */
}

section #conteudo-lista{
    list-style: none;
}

section #recomendacao-lista{
    padding-left: 10px;
}

.box {
    background-color: #292929;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}

/* IMAGEM */
#imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
}

#imagem img {
    max-width: 200px;
    max-height: 300px;
    border-radius: 10px;
}

#imagem button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 10px;
    -webkit-tap-highlight-color: transparent;
}

#imagem #prev {
    left: 10px;
}

#imagem #next {
    right: 10px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 10px 0 0;
    font-size: 14px;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}
